.showChannel{
    width: 83%;
    position: relative;
    height: 100vh;
    padding: 2rem;
    & .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span{
            cursor: pointer;
        }
    }
    & .serverOverView{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        & .sliderLeft{
            display: flex;
            align-items: center;
            width: 60%;
            & .image{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 35%;
                & span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    text-transform: uppercase;
                    font-size: 37px;
                    font-weight: bold;
                }
                & label{
                    font-weight: bold;
                    margin-top: .5rem;
                    font-size: 19px;
                    opacity: .7;
                }
            }
            & .text{
                width: 45%;
                text-align: center;
                & input{
                    display: none;
                }
                & p{
                    font-size: 20px;
                    opacity: .8;
                }
                & label{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 11rem;
                    height: 3rem;
                    margin-top: 1rem;
                    font-weight: bold;
                    margin-left: 50%;
                    transform: translate(-50%);
                    border-radius: 4px;
                    cursor: pointer;
                    transition: .3s;
                }
            }
        }
        & .sliderRight{
            width: 25%;
            & .infoServer{
                & h1{
                    font-size: 15px;
                }
                & label{
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    width: 100%;
                    height: 3rem;
                    padding-left: 5px;
                    border-radius: 6px;
                    font-weight: bold;
                }
            }
            & .infoServer:nth-of-type(2){
                margin: 1rem 0;
            }
            & button{
                margin-top: 1rem;
                width: 100%;
                height: 3rem;
                font-weight: bold;
                font-size: 18px;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s;
            }
        }
    }
    & .line{
        position: relative;
        margin-top: 3rem;
        width: 100%;
        & span{
            position: absolute;
            width: 100%;
        }
    }
}