.newChannelwhite {
  background: rgba(18, 15, 19, 0.5);
}

.newChannelwhite form {
  background: #F2F2F2;
}

.newChannelwhite form h1 {
  color: #120F13;
}

.newChannelwhite form span {
  color: #120F13;
  font-weight: 500;
}

.newChannelwhite form input {
  background: #d8d5d5;
  border: 2px solid #d8d5d5;
  color: #000;
}

.newChannelwhite form input:focus {
  border: 2px solid #524f53;
}

.newChannelwhite form .emptyInput {
  border: 1px solid red;
}

.newChannelwhite form .emptyInput::-webkit-input-placeholder {
  color: red;
}

.newChannelwhite form textarea {
  background: #d8d5d5;
  border: 2px solid #d8d5d5;
}

.newChannelwhite form textarea:focus {
  border: 2px solid #524f53;
}
