@media (max-width: 440px) {
  .signup {
    width: 100%;
  }
  .signup form .name .firstName, .signup form .name .lastName {
    width: 100%;
  }
  .signup form .name .firstName {
    margin-bottom: 14.5px;
  }
}
