@media (max-width: 931px) {
  .signin .f1h0 {
    flex-direction: column-reverse;
  }
  .signin .f1h0 .info {
    width: 396px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .signin {
    display: block;
  }
  .signin .f1h0 {
    width: 98%;
    margin: auto;
  }
  .signin .f1h0 .content {
    margin: 0;
    width: 100%;
  }
  .signin .f1h0 .info {
    width: 100%;
    margin-top: 1rem;
  }
  .signin .f1h0 .info h1 {
    font-size: 40px;
    color: #2F80ED;
    margin-bottom: .7rem;
  }
  .signin .f1h0 .info p {
    font-size: 22px;
    display: none;
  }
}
