.chatChannel .backChannels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 49.49px;
  margin-bottom: 19.58px;
}

.chatChannel .backChannels .back {
  display: flex;
  align-items: center;
  letter-spacing: -0.035em;
  cursor: pointer;
}

.chatChannel .backChannels .back span:first-of-type {
  margin-top: 5px;
}

.chatChannel .backChannels .back span:last-of-type {
  font-weight: 700;
  font-size: 18px;
  margin-left: 22.78px;
}

.chatChannel .backChannels span {
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.chatChannel .info {
  padding: 0 1rem;
}

.chatChannel .info h1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin-bottom: 17.88px;
}

.chatChannel .info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.035em;
}

.chatChannel .h1Members {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin-top: 43.54px;
  padding: 0 1rem;
}

.chatChannel .members {
  padding: 0 1rem;
  height: 63.9vh;
  overflow-y: scroll;
}

.chatChannel .members::-webkit-scrollbar {
  width: 0;
}

.chatChannel .members .membersUser {
  display: flex;
  align-items: center;
  margin-top: .9rem;
  padding: 10px;
  border-radius: 12px;
  transition: .3s;
}

.chatChannel .members .membersUser img {
  width: 42px;
  height: 42px;
  border-radius: 7px;
}

.chatChannel .members .membersUser h1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.035em;
  margin-left: 25px;
}
