.footerFind .footer {
  width: 1000px;
  margin: auto;
}

.footerFind .footer .languages {
  list-style: none;
  margin: .8rem 0;
  display: flex;
  align-items: center;
}

.footerFind .footer .languages h1 {
  margin-right: .6rem;
  color: #8a8d91;
  font-size: 15px;
  display: inline-block;
}

.footerFind .footer .languages li {
  display: inline-block;
  margin-right: .8rem;
  color: #8a8d91;
  font-size: 14px;
  cursor: pointer;
}

.footerFind .footer .languages li:hover {
  text-decoration: underline;
}

.footerFind .footer .languages span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d1d3;
  width: 30px;
  border-radius: 3px;
  color: #6A7180;
  background-color: #EBEDF0;
  cursor: pointer;
  transition: .3s;
}

.footerFind .footer .languages span:hover {
  background-color: #dbdcdd;
}

.footerFind .footer .line {
  position: relative;
}

.footerFind .footer .line span {
  position: absolute;
  width: 100%;
  border: 1px solid #DDDFE2;
}

.footerFind .footer .page {
  margin-top: 1.6rem;
  list-style: none;
}

.footerFind .footer .page li {
  display: inline-block;
  margin-right: .8rem;
  color: #8a8d91;
  font-size: 14px;
  cursor: pointer;
}

.footerFind .footer .page li:hover {
  text-decoration: underline;
}

.footerFind .footer .company {
  margin-top: 1.6rem;
}

.footerFind .footer .company h1 {
  color: #8a8d91;
  font-size: 11px;
}
