.mainDark{
    background-color: #252329;
    transition: .3s;
    & .header{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        & h1{
            color: #E0E0E0;
        }
    }
    & .chat{
        & .chatPerson{
            & .contentPerson{
                & .name{
                    & h1{
                        color: #828282;
                    }
                    & span{
                        color: #828282;
                    }
                }
                & .comment{
                    & p{
                        color: #E0E0E0;
                    }
                }
            }
        }
        & .line{
            & span:nth-child(1){
                border: 1px solid #828282;
            }
            & span:nth-child(2){
                color: #828282;
            }
            & span:nth-child(3){
                border: 1px solid #828282;
            }
        }
    }
    & .inputChat{
        & .boxChat{
            background: #3C393F;
            & input{
                color: #f9f9f9;
            }
        }
        & .boxEmoji{
            background: #3C393F;
        }
        & .boxImage{
            background: #3C393F;
            color: #f9f9f9;
        }
    }
}