.personalInfoDark {
  background-color: #252329;
}

.personalInfoDark .header .logo {
  color: #fff;
}

.personalInfoDark .header .user {
  color: #fff;
}

.personalInfoDark .header .user .listProfile {
  background: #3b3a3a;
  border: 1px solid #3b3a3a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.personalInfoDark .header .user .listProfile .list {
  color: #fff;
}

.personalInfoDark .header .user .listProfile .list h1, .personalInfoDark .header .user .listProfile .list a {
  color: #fff;
}

.personalInfoDark .header .user .listProfile .list:hover {
  background: #555353;
}

.personalInfoDark .header .user .listProfile .line span {
  border: 1px solid #5c5a5a;
}

.personalInfoDark .header .user .listProfile .logout {
  color: red;
}

.personalInfoDark .header .user .listProfile .logout h1 {
  color: red;
}

.personalInfoDark .content .headerForm h1 {
  color: #fff;
}

.personalInfoDark .content .headerForm p {
  color: #fff;
}

.personalInfoDark .content form {
  border: 1px solid #424141;
}

.personalInfoDark .content form .profile {
  border-bottom: 1px solid #424141;
}

.personalInfoDark .content form .profile .textProfile h1 {
  color: #fff;
}

.personalInfoDark .content form .profile .textProfile p {
  color: #828282;
}

.personalInfoDark .content form .profile span {
  border: 1px solid #424141;
  color: #828282;
}

.personalInfoDark .content form .photo {
  border-bottom: 1px solid #424141;
}

.personalInfoDark .content form .photo span {
  color: #BDBDBD;
}

.personalInfoDark .content form .text {
  border-bottom: 1px solid #424141;
}

.personalInfoDark .content form .text span {
  color: #BDBDBD;
}

.personalInfoDark .content form .text h1 {
  color: #fff;
}
