.changeInfoWhite .back span {
  color: #2D9CDB;
}

.changeInfoWhite .back h1 {
  color: #2D9CDB;
}

.changeInfoWhite form {
  border: 1px solid #E0E0E0;
}

.changeInfoWhite form .info h1 {
  color: #000000;
}

.changeInfoWhite form .info p {
  color: #828282;
}

.changeInfoWhite form .image label:first-of-type span {
  color: #fff;
}

.changeInfoWhite form .image label:last-of-type {
  color: #828282;
}

.changeInfoWhite form .input label {
  color: #4F4F4F;
}

.changeInfoWhite form .input input {
  border: 1px solid #828282;
}

.changeInfoWhite form .input input:focus {
  border: 1px solid #2D9CDB;
}

.changeInfoWhite form .input input:focus::-webkit-input-placeholder {
  transition: .3s;
  color: #2D9CDB;
}

.changeInfoWhite form .input input:focus ~ label {
  color: #2D9CDB;
}

.changeInfoWhite form .bio label {
  color: #4F4F4F;
}

.changeInfoWhite form .bio textarea {
  border: 1px solid #828282;
}

.changeInfoWhite form .bio textarea:focus {
  border: 1px solid #2D9CDB;
}

.changeInfoWhite form .bio textarea:focus::-webkit-input-placeholder {
  transition: .3s;
  color: #2D9CDB;
}

.changeInfoWhite form .bio textarea:focus ~ label {
  color: #2D9CDB;
}

.changeInfoWhite form button {
  background: #2F80ED;
  color: #FFFFFF;
  border: 2px solid #2F80ED;
}

.changeInfoWhite form button:hover {
  background-color: transparent;
  color: #2F80ED;
}
