.chatChannelWight {
  transition: .3s;
}

.chatChannelWight .backChannels {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chatChannelWight .backChannels span:last-of-type {
  color: #000;
}

.chatChannelWight .info h1 {
  color: #000;
}

.chatChannelWight .info p {
  color: #000;
}

.chatChannelWight .h1Members {
  color: #000;
}

.chatChannelWight .members .membersUser h1 {
  color: #000;
}

.chatChannelWight .members .membersUser:hover {
  background-color: #E0E0E0;
}
