.chatChannelDark {
  transition: .3s;
}

.chatChannelDark .backChannels {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chatChannelDark .backChannels span:last-of-type {
  color: #E0E0E0;
}

.chatChannelDark .info h1 {
  color: #E0E0E0;
}

.chatChannelDark .info p {
  color: #E0E0E0;
}

.chatChannelDark .h1Members {
  color: #E0E0E0;
}

.chatChannelDark .members .membersUser h1 {
  color: #828282;
}

.chatChannelDark .members .membersUser:hover {
  background-color: #3C393F;
}
