.personalInfo {
  letter-spacing: -0.035em;
  transition: .3s;
}

.personalInfo .header {
  padding: 0 72px;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personalInfo .header .logo {
  display: flex;
  align-items: center;
}

.personalInfo .header .logo span {
  margin-top: 6px;
  margin-right: 8px;
}

.personalInfo .header .logo h1 {
  font-weight: 600;
  font-size: 18px;
}

.personalInfo .header .user {
  display: flex;
  align-items: center;
  position: relative;
}

.personalInfo .header .user img {
  width: 34px;
  height: 34px;
  border-radius: 8px;
}

.personalInfo .header .user h1 {
  font-weight: 700;
  font-size: 16px;
  margin: 0 11px;
}

.personalInfo .header .user span {
  margin-top: 5px;
  cursor: pointer;
}

.personalInfo .header .user .listProfile {
  position: absolute;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: none;
  right: 0;
  top: 2.5rem;
  padding: .7rem;
  animation: opacity .3s;
  border-radius: 12px;
}

.personalInfo .header .user .listProfile .list {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
}

.personalInfo .header .user .listProfile .list span {
  margin-top: 5px;
}

.personalInfo .header .user .listProfile .list h1, .personalInfo .header .user .listProfile .list a {
  font-weight: 500;
  font-size: 12px;
  margin-left: 12px;
  text-decoration: none;
}

.personalInfo .header .user .listProfile .list:hover {
  border-radius: 8px;
}

.personalInfo .header .user .listProfile .line {
  position: relative;
}

.personalInfo .header .user .listProfile .line span {
  position: absolute;
  width: 100%;
}

.personalInfo .header .user .listProfile .logout {
  margin-top: 12px;
}

.personalInfo .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.personalInfo .content .headerForm {
  text-align: center;
}

.personalInfo .content .headerForm h1 {
  font-weight: 400;
  font-size: 36px;
}

.personalInfo .content .headerForm p {
  font-weight: 300;
  font-size: 18px;
}

.personalInfo .content form {
  border-radius: 12px;
  width: 800.91px;
  margin-top: 44.06px;
}

.personalInfo .content form .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29.51px 49.3px;
}

.personalInfo .content form .profile .textProfile h1 {
  font-weight: 400;
  font-size: 24px;
}

.personalInfo .content form .profile .textProfile p {
  font-weight: 500;
  font-size: 13px;
}

.personalInfo .content form .profile span {
  border-radius: 12px;
  width: 95.34px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.personalInfo .content form .photo {
  display: flex;
  align-items: center;
  padding: 11.95px 49.3px;
}

.personalInfo .content form .photo span {
  font-weight: 500;
  font-size: 13px;
  width: 30%;
}

.personalInfo .content form .photo img {
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

.personalInfo .content form .text {
  display: flex;
  align-items: center;
  padding: 27.5px 49.3px;
}

.personalInfo .content form .text span {
  width: 30%;
  font-weight: 500;
  font-size: 13px;
}

.personalInfo .content form .text h1 {
  width: 70%;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

.personalInfo .content form .password {
  border: none;
}
