.personalInfo{
    letter-spacing: -0.035em;
    transition: .3s;
    & .header{
        padding: 0 72px;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .logo{
            display: flex;
            align-items: center;
            & span{
                margin-top: 6px;
                margin-right: 8px;
            }
            & h1{
                font-weight: 600;
                font-size: 18px;
            }
        }
        & .user{
            display: flex;
            align-items: center;
            position: relative;
            & img{
                width: 34px;
                height: 34px;
                border-radius: 8px;
            }
            & h1{
                font-weight: 700;
                font-size: 16px;
                margin: 0 11px;
            }
            & span{
                margin-top: 5px;
                cursor: pointer;
            }
            & .listProfile{
                position: absolute;
                width: 100%;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom: none;
                right: 0;
                top: 2.5rem;
                padding: .7rem;
                animation: opacity .3s;
                border-radius: 12px;
                & .list{
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    padding: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    & span{
                        margin-top: 5px;
                    }
                    & h1,a{
                        font-weight: 500;
                        font-size: 12px;
                        margin-left: 12px;
                        text-decoration: none;
                    }
                    transition: .3s;
                    &:hover{
                        border-radius: 8px;
                    }
                }
                & .line{
                    position: relative;
                    & span{
                        position: absolute;
                        width: 100%;
                    }
                }
                & .logout{
                    margin-top: 12px;
                }
            }
        }
    }
    & .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 92vh;
        & .headerForm{
            text-align: center;
            & h1{
                font-weight: 400;
                font-size: 36px;
            }
            & p{
                font-weight: 300;
                font-size: 18px;
            }
        }
        & form{
            border-radius: 12px;
            width: 800.91px;
            margin-top: 44.06px;
            & .profile{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 29.51px 49.3px;
                & .textProfile{
                    & h1{
                        font-weight: 400;
                        font-size: 24px;
                    }
                    & p{
                        font-weight: 500;
                        font-size: 13px;
                    }
                }
                & span{
                    border-radius: 12px;
                    width: 95.34px;
                    height: 38px;
                    font-weight: 500;
                    font-size: 16px;
                    color: #828282;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
            & .photo{
                display: flex;
                align-items: center;
                padding: 11.95px 49.3px;
                & span{
                    font-weight: 500;
                    font-size: 13px;
                    width: 30%;
                }
                & img{
                    width: 72px;
                    height: 72px;
                    border-radius: 8px;
                }
            }
            & .text{
                display: flex;
                align-items: center;
                padding: 27.5px 49.3px;
                & span{
                    width: 30%;
                    font-weight: 500;
                    font-size: 13px;
                }
                & h1{
                    width: 70%;
                    text-align: left;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
            & .password{
                border: none;
            }
        }
    }
}