.main {
  width: 83%;
  position: relative;
  height: 100vh;
}

.main .header {
  height: 5vh;
  width: 100%;
}

.main .header h1 {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 70.62px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  cursor: pointer;
}

.main .chat {
  margin: auto;
  padding-top: 1rem;
  width: 90%;
  bottom: 5rem;
  height: 87vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main .chat::-webkit-scrollbar {
  width: 0;
}

.main .chat .chatPerson {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}

.main .chat .chatPerson .image {
  display: inline-block;
  position: absolute;
  top: 5px;
  width: 42px;
  height: 42px;
}

.main .chat .chatPerson .image img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.main .chat .chatPerson .contentPerson {
  margin-left: 3.5rem;
  display: inline-block;
  width: 70%;
}

.main .chat .chatPerson .contentPerson .name {
  display: flex;
  align-items: center;
}

.main .chat .chatPerson .contentPerson .name h1 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.035em;
}

.main .chat .chatPerson .contentPerson .name span {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.035em;
  margin-left: 12px;
}

.main .chat .chatPerson .contentPerson .comment {
  width: 100%;
}

.main .chat .chatPerson .contentPerson .comment p {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.035em;
}

.main .chat .line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-bottom: 32px;
  position: relative;
}

.main .chat .line span:nth-child(1) {
  position: absolute;
  width: 45%;
  left: 0;
}

.main .chat .line span:nth-child(2) {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.035em;
  width: 10%;
  text-align: center;
}

.main .chat .line span:nth-child(3) {
  position: absolute;
  width: 45%;
  right: 0;
}

.main .inputChat {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .inputChat .boxChat {
  display: flex;
  align-items: center;
  width: 70%;
  border-radius: 8px;
}

.main .inputChat .boxChat input {
  width: 95.5%;
  height: 100%;
  padding: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.main .inputChat .boxChat button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2F80ED;
  border-radius: 8px;
  padding: 6px;
  border: none;
  cursor: pointer;
}

.main .inputChat .boxEmoji {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  height: 52px;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.main .inputChat .boxEmoji .emoji {
  color: #fff;
}

.main .inputChat .boxEmoji .clickEmoji {
  position: absolute;
  bottom: 120%;
  animation: opacity .3s;
}

.main .inputChat .boxImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  height: 52px;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
}

.main .inputChat .boxImage input {
  display: none;
}

.main .inputChat .boxImage label {
  cursor: pointer;
}
