.footerUserDark {
  background: #0B090C;
  transition: .3s;
}

.footerUserDark .content .name h1 {
  color: #828282;
}

.footerUserDark .listProfile {
  background: #252329;
  border: 1px solid #3C393F;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.footerUserDark .listProfile .list {
  color: #E0E0E0;
}

.footerUserDark .listProfile .list h1, .footerUserDark .listProfile .list a {
  color: #E0E0E0;
}

.footerUserDark .listProfile .list:hover {
  background: #3C393F;
}

.footerUserDark .listProfile .line span {
  border: 1px solid #3C393F;
}

.footerUserDark .listProfile .logout {
  color: red;
}

.footerUserDark .listProfile .logout h1 {
  color: red;
}
