@media (max-width: 516px) {
    .resetPassword{
        & .content{
            & form{
                width: 99%;
            }
        }
    }
}
@media (max-width: 460px) {
    .resetPassword{
        & .content{
            & form{
                & .input{
                    & .datauser{
                        & h3{
                            font-size: 12px;
                        }
                        & span{
                            font-size: 12px
                        }
                    }
                }
                & .button{
                    & a{
                        width: 32%;
                    }
                    & .click{
                        & button,a{
                            width: 5rem;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}