@media (max-width: 516px) {
  .resetPassword .content form {
    width: 99%;
  }
}

@media (max-width: 460px) {
  .resetPassword .content form .input .datauser h3 {
    font-size: 12px;
  }
  .resetPassword .content form .input .datauser span {
    font-size: 12px;
  }
  .resetPassword .content form .button a {
    width: 32%;
  }
  .resetPassword .content form .button .click button, .resetPassword .content form .button .click a {
    width: 5rem;
    font-size: 12px;
  }
}
