@media (max-width: 903px) {
  .home {
    width: 100%;
  }
  .home h1 {
    height: 3rem;
  }
  .home span {
    height: 3rem;
  }
}

@media (max-width: 410px) {
  .home {
    width: 100%;
  }
  .home h1 {
    font-size: 19px;
  }
}
