.newChannel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.035em;
    animation: opacity .2s;
    & form{
        width: 656.02px;
        border-radius: 24px;
        padding: 1rem 2rem;
        & h1{
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 20.43px;
        }
        & span{
            display: inline-block;
            margin-top: 20.63px;
            margin-bottom: 5px;
        }
        & input{
            display: block;
            width: 100%;
            height: 48px;
            border-radius: 8px;
            outline: none;
            padding: 11.5px 15.64px;
            transition: .3s;
        }
        & textarea{
            display: block;
            margin-top: 26.63px;
            width: 100%;
            height: 115.55px;
            border-radius: 8px;
            outline: none;
            padding: 11.5px 15.64px;
            transition: .3s;
            max-width: 100%;
            min-height: 48px;
        }
        & .button{
            float: right;
            margin-top: 28.7px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            & button{
                cursor: pointer;
            }
            & button:first-of-type{
                width: 99.09px;
                height: 39.34px;
                background: #2F80ED;
                border-radius: 8px;
                font-weight: 500;
                font-size: 18px;
                color: #F2F2F2;
                border: 2px solid #2F80ED;
                margin-left: 1rem;
                transition: .3s;
                &:hover{
                    background-color: transparent;
                    color: #2F80ED;
                }
            }
            & button:last-of-type{
                width: 99.09px;
                height: 39.34px;
                background: red;
                border-radius: 8px;
                font-weight: 500;
                font-size: 18px;
                color: #F2F2F2;
                border: 2px solid red;
                transition: .3s;
                &:hover{
                    background-color: transparent;
                    color: red;
                }
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}