.channelsWhite {
  background-color: #F8F8FF;
  color: #120F13;
  transition: .3s;
}

.channelsWhite .header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.channelsWhite .header h1 {
  color: #120F13;
}

.channelsWhite .header span {
  background-color: #BDBDBD;
}

.channelsWhite .header label {
  color: #120F13;
  background-color: #BDBDBD;
}

.channelsWhite .search {
  background: #e0dfdf;
}

.channelsWhite .search input {
  color: #3C393F;
}

.channelsWhite .channel .channelPerson span:first-of-type {
  background: #BDBDBD;
}

.channelsWhite .channel .channelPerson span:last-of-type {
  color: #252329;
}

.channelsWhite .channel .channelPerson:hover {
  background-color: #BDBDBD;
}
