@media (max-width: 508px) {
  .checkAccount .content form {
    width: 99%;
  }
  .checkAccount .content p {
    width: 99%;
  }
}

@media (max-width: 434px) {
  .checkAccount .content form .button a {
    width: 40%;
  }
  .checkAccount .content form .button .click button, .checkAccount .content form .button .click a {
    width: 6rem;
  }
}

@media (max-width: 384px) {
  .checkAccount .content form .button a {
    width: 30%;
  }
  .checkAccount .content form .button .click button, .checkAccount .content form .button .click a {
    width: 5rem;
    font-size: 12px;
  }
}
